// Import Bootstrap
// @import "~bootstrap/scss/bootstrap";

// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Rubik:wght@300&display=swap');
@font-face {
    font-family: Sahel;
    src: url('../fonts/Sahel.eot');
    src: url('../fonts/Sahel.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sahel.woff2') format('woff2'),
        url('../fonts/Sahel.woff') format('woff'),
        url('../fonts/Sahel.ttf') format('truetype');
    font-weight: normal;
}

// Colors Variables
$color-dark: #262626;
$color-black:black;
$color-primary: #1EC6B6;
$color-secondary: #ff4a42;
$color-thirdly: #363E52;
$color-white: #ffff;
$color-navy: #040E27;
$color-gray: #7A838B;
$color-gray1: #AAB1B7;



// Fonts Variables
$font-sahel: Sahel, Tahoma;
$font-arial: Arial, Helvetica, sans-serif;
$font-bycd: 'Nothing You Could Do', cursive;
$font-rubik: 'Rubik', sans-serif;

// Font size Variables
//PX
$font-14: 14px;
$font-15: 15px;

//VW
$font-10vw: 10vw;
$font-2-5vw: 2.5vw;





// @mixin
@mixin perfectCentering {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin textStyle {
    font-weight: 300;
    letter-spacing: 2px;
}

@mixin centring($topValue) {
    position: absolute;
    top: $topValue;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin fullSpace {
    width: 100%;
    height: 100%;
}

@mixin width($widthSize) {
    width: $widthSize;
}

@mixin beforeStyle($opacity) {
    position: absolute;
    top: 0;
    left: 0;
    background: $color-navy;
    content: '';
    width: 100%;
    height: 100%;
    opacity: $opacity;
}

//Placeholder selector
%d-flex {
    display: flex;
}

%w-100 {
    width: 100% !important;
}

%w-50 {
    width: 50% !important;
}

%row {
    width: 100%;
    display: flex;
}

%font-15 {
    font-size: $font-15;
}

// All Tags
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Body
body {
    font-family: $font-arial;
    font-size: $font-14;

    // background-color: $color-dark;
}

// For All a Tags
a{
    text-decoration: none;
    transition: color .2s;
    
    &:hover{
        color: $color-secondary;
    }
}

// For All li Tags
li{
    list-style: none;
    cursor: pointer;
    @extend a;
}

// For all images
img {
    width: 100%;
    height: auto;
}
