//Header 
header {
    background-color: $color-white;
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
    position: relative;

    li {
        display: none;
        margin-right: 35px;
        font-size: 1.3em;
        margin-top: 13px;
    }

    .search-icon {
        @include perfectCentering;
        position: absolute;
        width: 45px;
        right: 45px;
        top: 0;
        bottom: 0;
        background-color: $color-secondary;

        a {
            color: $color-black;
        }
        
    }

    .drop-down-menu{
        @include perfectCentering;
        position: absolute;
        width: 45px;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: $color-primary;

        a {
            color: $color-black;
        }
        i{
            &:hover {
                color: $color-secondary;
            }
        }
    }

    .close-menu-btn {
        position:absolute ;
        width: 45px ;
        right: 45px;
        top: 55px;
        bottom: 0;
        background-color: $color-navy;
        i {
            color: $color-white;
            font-size: 30px;

            &:hover {
                color: $color-secondary;
            }
        }
    }

}


//Responsive Mobile First Bootstrap-v4
@media (max-width: 768px) {
    header {
        .search-icon {
            display: none ;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    header {
        li {
            display: inline-block;
        }
        .drop-down-menu {
            display: none;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    header {
        .search-icon {
            width: 100px;
        }
    }
}